
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-image: url("../images/background.jpg");
	background-repeat: no-repeat;
    background-size: 100%;

}

img {
	width: 100%;
}

p {
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #272727;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
	color: #A0CED9;
}


.side {
	background-color: #ffffff;
	opacity: 0.75;
	width: 400px;
	height: 800px;
	margin-left: 30px;
}

.space {
	width: 100%;
	height: 90px;
}

#description {
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: large;
}

#adress {
	margin-bottom: 20px;
	font-size: large;
}

#phone-number {
	margin-bottom: 20px;
	font-size: large;
}

#hours {
	margin-bottom: 30px;
}


#font-awesome {
	font-size: xx-large
}

.text-bold {
	font-weight: 700;
}